main {
  border: 1px solid transparent;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;

      section {  
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 150px;

              .image-wrap {
                width: 100%;
                height: 70%;
                margin-bottom: 20px;
                
                @include atMedium {
                  width: 80%;
                  height: 100%;
                  height: auto;
                }
              }

              img {
                width: 100%;
                height: 100%;          
                cursor: pointer;
              }
          
              .content-info {
                width: 100%;
              }

              p {
                max-width: 100%;
                margin: 0 auto;
                padding-left: 20px;
                padding-right: 20px;
                font-weight: 200;
                text-align: center;
                line-height: 22px;

                @include atMedium {
                  max-width: 75%;
                }

                @include atLarge {
                  max-width: 70%;
                }
              }

              span {
                position: relative;
              }

              span::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 100%;
                width: 100px;
                height: 1px;  
                background-color: black;
                margin-right: 10px;
                line-height: 100%;
                align-self: center;
      }
}