.overlay {
  width: 100%; 
  height: 100vh;
  background-color: rgb(255, 255, 255);
  // background-color: rgb(247, 229, 157);
  position: fixed;
  top: 0;   
  bottom: 0;
  z-index: 200; 
  transform: translateY(-100%);
  transition: all .6s ease-in-out .1s;
 
  &-visible {
    transform: translateY(0);
  }

          .bold {
            font-weight: 600;
          }

          &-content {
            width: 90%;
            height: 100vh;
            margin: 0 auto;
            padding-top: 130px;
            display: flex;
            border-bottom: 1px solid  rgb(211, 210, 210);
            z-index: 500;
         

                    &__left,
                    &__right {
                      width: 50%;
                    }
                    
                    ul { 
                      width: 100%;
                      height: 100%;
                    }

                    li {
                      list-style-type: none;
                      margin-bottom: 20px;
                      font-size: 30px;
                    }

                    a:hover {
                      border-bottom: 1px solid black;
                    }
        }
}

