.general-info {
  margin-top: 60px;

  @include atSmall {
    margin-top: 67.5px;
  }

  @include atMedium {
    margin-top: 75px;
  }
       
         .container {
           width: 90%;
         }
    
         .info-box {
            height: 100vh;
            font-size: .9rem;

            @include atSmall {
              font-size: 1.2rem;
            }
          } 

          a {
            letter-spacing: 0.15em;
          }


          h3 {
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;

            @include atSmall {
              height: 52.5px
            }
            @include atMedium {
              height: 60px;
            }
          }
 
          .text-box {
            width: 100%;
            height: 86vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 2rem;

            @include atSmall {
              height: 630px;
            }

            @include atMedium {
              height: 600px
            }
          }
 
          p {
            text-align: center;
          }

          span {
            font-weight: bold;
          }
} 