.overlay {
  width: 100%; 
  height: 100vh;
  background-color: rgb(251, 250, 246);
  position: fixed;
  top: -200%;   
  left: 0;
  z-index: 100;  

  &-visible { 
    top: 0%; 
  }  

          .bold {
            font-weight: 600;
          }

          &-content {
            width: 90%;
            height: 100vh;
            margin: 0 auto;
            padding-top: 4rem;
            display: flex;
            border-bottom: 1px solid  rgb(211, 210, 210);

            @include atSmall {
              padding-top: 6rem;
            }
         

                    &__left,
                    &__right {
                      opacity: .3;
                    }
 
                    &__left {
                      width: 50%;
                      margin-right: 15%;
                      transform: translateX(-100%);
                    }

                    &__right {
                      transform:  translateX(800px);
                    }

                    .slide-in {
                      opacity: 1;
                      transform: translateX(0) 
                    }  
                    
                    ul { 
                      width: 100%;
                      height: 100%;
                    }

                    li {
                      list-style-type: none;
                      margin-bottom: 20px;
                      font-size: 1rem;

                      @include atSmall {
                        font-size: 1.23rem;
                      }
                    }

                    a:hover {
                      border-bottom: 1px solid black;
                    }
        }
}